// COLORS
$color-primary: #f368e0;
$color-primary-light: #ff6eec;
$color-primary-dark: #b34da5;

$color-grey-light-1: #f7f7f7;

$color_grey-dark: #333;
$color-grey-dark-1: #555;
$color-grey-dark-2: #777;
$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;
// GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// FOOTER

$color-git: #fafafa;
$color-linkedin: #0a66c2;
