.footer {
  background-color: $color-grey-dark;
  padding: 5rem 0;
  color: $color-grey-dark-2;

  &__list {
    padding-top: 1.15rem;
    list-style: none;
  }

  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      display: inline-block;
      color: inherit;
      font-weight: 300;
      font-size: 1.7rem;
      transition: color 0.2s;
    }
    &:hover,
    &:active {
      color: $color-white;
    }
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__icon {
    font-size: 3rem;
    transition: color 0.2s;
    &--git {
      &:hover {
        color: $color-git;
      }
    }

    &--linkedin {
      &:hover {
        color: $color-linkedin;
      }
    }
  }

  &__social-navigation {
    float: right;
  }

  &__social-list {
    list-style: none;
  }

  &__social-link {
    color: inherit;
    text-decoration: none;
  }

  &__social-list-element {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__copyright {
    display: inline-block;
    font-weight: 300;
    font-size: 1.5rem;
    width: 80%;
  }
}
