
@include clearfix;
.main-nav {
  float: right;
  list-style: none;
  margin-top: 5.5rem;
  
  &__list-element {
    display: inline-block;
    margin-left: 4rem;
  }

  &__element-item {
    &:link,
    &:visited {
      padding: 0.8rem 0;
      color: $color-white;
      font-size: 1.8rem;
      font-weight: 300;
      text-decoration: none;
      text-transform: uppercase;
      border-bottom: 0.2rem solid transparent;
      transition: border-bottom 0.2s;
    }

    &:hover,
    &:active {
      border-bottom: 0.2rem solid $color-primary;
    }
  }
}
