.section-about {
  background-color: $color-white;
  padding: 5rem 0;
}

.section-skill {
  background-color: $color-grey-light-1;
  padding: 5rem 0;
}

.section-work {
  background-color: $color-white;
  padding: 5rem 0;
}

.section-contact {
  background-color: $color-grey-light-1;
  padding: 5rem 0;
}
