.section-about {
  background-color: $color-white;
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-skill {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-work {
  background-color: $color-white;
  padding: 10rem 0;
  margin-top: -20vh;
}

.section-contact {
  background-color: $color-grey-light-1;
}
